<div id="body-class" style="display: none;" class="{{webSite.styles.bodyClass}}"></div>
<footer id="footer">
  <div class="inner">
    <section class="credits">
      <span class="credits-theme">
        Theme <a href="{{theme.url}}">{{theme.name}}</a>
        by {{#each theme.credits}} <a href="{{url}}" rel="nofollow">{{name}}</a> {{/each}}
      </span>
      <span class="credits-software">
        Published with <a href="{{webSite.platform.url}}">{{webSite.platform.name}}</a> 
      </span>
    </section>
  </div>
</footer>
<script type="text/javascript" src="/assets/js/script.js"></script>
